name: Release Android app
on:
  push:
    branches:
      - develop
jobs:

  release-android:
    name: Release android app to development environment
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Make gradlew executable
        run: chmod +x ./android/gradlew

      # - name: Decrypt secrets
      #   run: sh ./.github/scripts/decrypt.sh
      #   env:
      #     GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Decode keystore and save as file
        env:
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64}}
        run: |
          echo "$KEYSTORE_BASE64" | base64 --decode > android/app/my-upload-key.keystore
        
      - name: Decode env and save as file
        env:
          ENV_BASE64: ${{ secrets.ENV_BASE64 }}
        run: |
          echo "$ENV_BASE64" | base64 --decode > android/fastlane/.env

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18.16.0"

      - name: Setup Ruby
        uses: actions/setup-ruby@v1

      - name: Install Fastlane
        run: cd android && bundle install && cd ..

      - name: Install packages
        run: npm install

      - name: Execute Fastlane command
        run: cd android && fastlane development_release
